<html>
    <head>
        <title>Dance Classes</title>
    </head>
    <body>
      <h1>Start Dancing!</h1>
      <!-- set up a form with a post method and results action -->
        <!-- need user email and password using two text input -->
      <form action= "/signup" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name">
        <label for="password">password</label>
        <input type="text" name="password">
        <input type="submit" value="Sign Up">
      </form>
    </body>

  


</html>
